<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Cuscinetti</title>
    <link href="static/css08-11 (2021).css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="static/logo_large.png" />
        <h1>Skate Shop </h1>
        <h1>Cuscinetti</h1>

    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

        </ul>

    </nav>

    <section>

        <article>
            <div class="container-imgs">
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1611143381-92121700.jpg" width:="150" height="180" />
                    <p>Bronson Ceramic 89,90 €</p>
                </div>
                <div> <img src="https://www.fillow.it/images/products/thumbnails/1611668060-77750400.jpg" width:="150" height="180" />
                    <p>Independent GP-R 19,90 €</p>
                </div>

                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1589974686-38512400.jpg" width:="150" height="180" />
                    <p> Bronson Raw 49,90 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1588852365-65931200.jpg" width:="150" height="180" />
                    <p>Bronson G2 24,90 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1624610449-39004300.jpg" width:="150" height="180" />
                    <p>Grizzly Ings 25,80 €</p>
                </div>
                <div>
                    <img src="https://www.fillow.it/images/products/thumbnails/1600530171-68012500.jpg" width:="150" height="180" />
                    <p>Bones Reds 24,90 €</p>
                </div>
            </div>
        </article>
    </section>

   
    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>