<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>risposta</title>
    <link href="flask-esercizio-grafica.css" rel="stylesheet">
</head>

<body>
    </header>
    <section>
        <article>
            <div class="container-imgs">

                <img src="static/calendario.png" width:="150" height="180" />


                <img src="static/El-mejor-libro-1.jpg" width:="150" height="180" />


                <img src="static/Meteo.jpg" width:="150" height="180" />

                <a href="/meteo">
                    <img src="static/calendario.png" width="200" height="200" alt="La mia immagine" />
                </a>

            </div>
        </article>
    </section>


    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>