<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>SkateShop</title>
    <link href="static/css08-11 (2021).css" rel="stylesheet">
</head>
 
<body>
    <header>
        <img src="static/logo_large.png" />
    
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/Skatepark">skatepark</a></li>
            <li> <a href="/SkateShop">skateshop</a>
        </ul>

    </nav>
    <div class="content">
        <section>
            <article>
                <a href="/park">PARK</a><br>
            </article>
        </section>
    </div>

    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>