<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>risposta</title>
    <link href="flask-esercizio-grafica.css" rel="stylesheet">
</head>

<body>
    </header>
    <section>
        <article>
            <div class="container-imgs">

              
                    <img src="static/nuvoloso.jpg" width:="550" height="580" />
  

             
                    <img src="static/pioggia.jpg" width:="550" height="580" />
              

                
                    <img src="static/sole.jpg" width:="550" height="580" />
               


            </div>
        </article>
    </section>


    <footer>
        <p>copyright 2021 - solotchi.livio - siummmmm - info@miosito.com</p>
    </footer>

</body>

</html>

</html>