<html lang="en">

<body>
<form action="/registrazione" method = "GET">
    

    <div>
        <label for="username">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>

    <p>Sex <input type = "radio" name = "Sex" value="M" />M <input type = "radio" name = "Sex" value="F" />F </p>




    <div>
        <label for="pass">Password :</label>
        <input type="password" id="pass" name="password">
    </div>

    <div>
        <label for="pass">Conferma_Password:</label>
        <input type="password" id="pass" name="Conferma_Password">
    </div>
    
    <input type="submit" value="Submit">


    

</form>   
</body>
</html>